#<IfModule mod_rewrite.c>
#RewriteEngine On
#RewriteRule ^$ Webroot/ [L]
#RewriteRule (.*) Webroot/$1 [L]
#</IfModule>


RewriteEngine On
RewriteCond %{REQUEST_URI} !^/View
RewriteRule ^.*$ index.php [L,QSA]
